%h1 Micke Mäklare
%br
%h2 Välkommen in!
%br
%h3 Ni kanske hittar ert nästa hus.
%br
%br
%div
  - @products.each do |product|

    %div.col-md-3
      = image_tag 'house.jpeg'
      %h3= link_to "#{product.title}, #{product.city}", product_path(product)
      %h4= "#{product.price}kr"
      %ul
        %li= "Rum: #{product.rooms}"
        %li= "Boarea: #{product.living_space}m2"
  %br


  = link_to 'New Product', new_product_path