%h1 Micke Mäklare
%br
%br
%h2 Välkommen in!
%br
%h3 Ni kanske hittar ert nästa hus.
%br
%br
%div
  %table
    %thead
      %tr
        %th Title
        %th Price
        %th City
        %th Rooms
        %th Living space


    %tbody
      - @products.each do |product|
        %tr
          %td= product.title
          %td= product.price
          %td= product.city
          %td= product.rooms
          %td= product.living_space
          %td= link_to 'Show', product
          %td= link_to 'Edit', edit_product_path(product)
          %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Product', new_product_path
