%p#notice= notice

.jumbotron
  %h1 Micke Mäklare
  %br
  %h2 Välkommen in!
  %br
  %h3 Ni kanske hittar ert nästa hus.
  %br
  %br

= link_to 'New Product', new_product_path
/ #bs-example-navbar-collapse-1.collapse.navbar-collapse
/   %ul.nav.navbar-nav
/     %li.dropdown
/       %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
/         Kommun
/         %span.caret
/           %ul.dropdown-menu
/             %li
/               = link_to 'Skurup', products_path(city:'Skurup')
/             %li
/               = link_to 'Beddingestrand', products_path(city: 'Beddingestrand')

.row{style:'margin: 0px 10px;'}
  - @products.each do |product|
    .col-md-4
      = image_tag 'house.jpeg', {style: 'border-radius: 3px;'}
      %h4= link_to "#{product.title}, #{product.city}", product_path(product)
      %h5= "#{number_to_currency(product.price, unit: '', precision: 0)} kr"
      %ul{style:'list-style: none;'}
        %li
          %b Rum: 
          = "#{product.rooms} rok"
        %li 
          %b Boarea: 
          = "#{product.living_space} m2"
        %li
          %b Beskrivning: 
          = "#{product.description}"
      %br