%p#notice= notice

%div{style: 'width: 500px; height: 310px'}
  = image_tag 'house.jpeg', {style: 'width 500px; height: 300px; margin: 5px'}
  %div
    %ul.btn-group
      %li.btn.btn-default
        = link_to 'Översikt', '#'
      %li.btn.btn-default
        = link_to 'Fakta', '#'
      %li.btn.btn-default
        = link_to 'Bilder', '#'
      %li.btn.btn-default
        = link_to 'Kalkyl', '#'

  %div{style: 'margin-left:5px'}
    %p
      %b Titel:
      = @product.title
    %p
      %b Utropspris:
      = "#{number_to_currency(@product.price, unit: '', precision: 0)} kr"
    %p
      %b Adress:
      = @product.address
    %p
      %b Ort:
      = @product.city
    %p
      %b Rum:
      = "#{@product.rooms} rok"
    %p
      %b Boyta:
      = "#{@product.living_space} m2"
    %p
      %b Tomtarea:
      = "#{@product.property_size} m2"
    %p
      %b Byggår:
      = @product.build_year
    %p
      %b Upplåtelseform:
      = @product.ownership_form
    %p
      %b Driftskostnad:
      = "#{@product.upkeep} kr"

    = link_to 'Edit', edit_product_path(@product)

    = link_to 'Back', products_path

    = link_to 'Delete', product_path(@product), method: :delete, data: {confirm:'Are you sure?'}
  %br
  %br
  
  %div{style: 'margin-left:5px'}
    %p
      %b Översikt:
      = @product.description

